<?xml version="1.0"?>
<config>
    <modules>
        <Creativestyle_ObserverList>
            <version>0.1.0</version>
        </Creativestyle_ObserverList>
    </modules>
    <global>
        <blocks>
            <creativestyle_observerlist>
                <class>Creativestyle_ObserverList_Block</class>
            </creativestyle_observerlist>
        </blocks>
        <helpers>
            <creativestyle_observerlist>
                <class>Creativestyle_ObserverList_Helper</class>
            </creativestyle_observerlist>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <creativestyle_observerlist>
                    <file>creativestyle_observerlist.xml</file>
                </creativestyle_observerlist>
            </updates>
        </layout>
        <translate>
            <modules>
                <creativestyle_observerlist>
                    <files>
                        <default>Creativestyle_Observerlist.csv</default>
                    </files>
                </creativestyle_observerlist>
            </modules>
        </translate>
    </adminhtml>
</config>